//theme colors for bootstrap use
$theme-colors: (
  "primary": #0074d9,
  "danger": #ff4136,
  "mainBlue": rgb(8, 8, 165),
  "lightBlue": rgb(21, 121, 151),
  "indigo": indigo,
  "purple": purple,
  "pink": pink,
  "red": rgb(136, 12, 12),
  "orange": orange,
  "teal": teal,
  "cyan": #00ffff,
  "white": white,
  "green": rgb(17, 224, 17),
  "brown": rgb(204, 169, 14)
);
//variable colors are for css usage:
$mainBlue: rgb(8, 8, 165);
$lightBlue: rgb(21, 121, 151);

$grid-gutter-width: 30px;
$spacing: 0.4rem;
$enable-responsive-font-sizes: true;
$enable-gradients: true;
// font-family: {};
// font-family: {"Permanent Marker", cursive};
@import "./font-scss/fontawesome.scss";
@import "./scss/bootstrap.scss";
body {
  font-family: "Righteous", cursive !important;
  background: white !important;
  color: black !important;
}

//since this is my class I dont need to add !important anymore
.text-title {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue {
  color: $lightBlue;
}
.text-bright {
  color: $lightBlue;
}
.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: black;
  border-radius: 0 !important;
  border: 0.1rem solid gray !important;
  &:hover {
    background: red;
    color: white;
  }
}
.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: yellow;
}
